* {
    box-sizing: border-box;
}

html {
    background-color: #DDD;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 20px;
    width: 100%;
}

.container {
    background-color: #FFF;
    color: #373737;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 620px;
    padding: 20px;
    width: 100%;
}

h1 {
    margin: 0;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
}
