* {
    box-sizing: border-box;
}

html {
    background-color: #DDD;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 20px;
    width: 100%;
}

.container {
    background-color: #FFF;
    color: #373737;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 620px;
    padding: 20px 20px 50px;
    width: 100%;
}

h1 {
    margin: 0;
}

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
}

ul {
    list-style: square;
    padding-left: 18px;
}

li {
    margin: 3px 0;
}

a {
    color: #1569C7;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
}

a:hover {
    color: #003795;
}

@media screen and (max-width: 767px) {
    body {
        padding: 10px;
    }
}

@media screen and (max-width: 479px) {
    html {
        background-color: #FFF;
    }

    body {
        padding: 0;
    }

    .container {
        padding: 20px;
    }
}

