<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{#css}}
           <style>
                {{{css}}}
           </style>
        {{/css}}

        <title>{{client_name}}</title>
    </head>
    <body>
        <h1>{{client_name}}</h1>
        
        {{#list_items}}
        <ul>
            {{{list_items}}}
        </ul>
        {{/list_items}}
    </body>
</html>
